<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>

<h1>All Shops</h1>
<ul>
  <% for (let shop of shops) {%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <% if(shop.images.length) {%>
        <img class="img-fluid" alt="" src="<%=shop.images[0].url%>" />
        <% }else { %>
        <img class="img-fluid" alt="" src="" />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%=shop.title%></h5>
          <p class="card-text"><%=shop.description%></p>
          <p class="card-text">
            <small class="text-muted"><%=shop.location%></small>
          </p>
          <a href="/shops/<%=shop._id%>" class="btn btn-primary">
            View <%=shop.title%>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>

<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const allShops = {features: <%-JSON.stringify(shops)%>}
</script>

<script src="/javascripts/clusterMap.js"></script>
