<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="row">
  <div class="col-6">
    <div id="shopCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% shop.images.forEach((img, i) => { %>
        <div class="carousel-item <%= i===0 ? 'active' : ''%>">
          <img class="d-block w-100" src="<%= img.url %> " alt="" />
        </div>
        <% }) %> <% if(shop.images.length > 1) {%>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#shopCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#shopCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= shop.title%></h5>
        <p class="card-text"><%= shop.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= shop.location%></li>
        <li class="list-group-item">
          Submitted by <strong><%= shop.author.username%></strong>
        </li>
        <li class="list-group-item">$<%= shop.price%>/night</li>
      </ul>
      <% if(currentUser && shop.author.equals(currentUser._id)){ %>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/shops/<%=shop._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/shops/<%=shop._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <div id="map" class="mb-3"></div>
    <% if(currentUser){ %>
    <h5>Leave a Review!</h5>
    <form
      class="mb-3 validated-form"
      action="/shops/<%=shop._id%>/reviews"
      method="POST"
      novalidate
    >
      <!-- <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div> -->
      <fieldset class="starability-grow">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="review[rating]"
          value="3"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <div class="mb-3">
        <label class="form-label" for="body">Review Text</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success mb-3">Submit</button>
    </form>
    <% } %> <% for(let review of shop.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%=review.author.username %></h5>
        <p class="starability-result" data-rating="<%=review.rating %>">
          Rated: <%=review.rating %> stars
        </p>

        <p class="card-text"><%=review.body %></p>
        <% if(currentUser && review.author.equals(currentUser._id)){ %>
        <form
          action="/shops/<%=shop._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const shop = <%-JSON.stringify(shop)%>
</script>
<script src="/javascripts/showPageMap.js"></script>
